.mc-box{
    width: 100%;
    .mc-tabls{
        padding:1.2rem 0.7rem 0 0.7rem;
        li{
            width: 100%;
            list-style: none;
            background-color: #fbfbfb;
            border: 1px solid #e4e4e4;
            border-radius: 0.2rem;
            div{
                height:3rem;
                line-height: 3rem;
                color: #000;
                padding-left: 0.5rem;
                .mc-icon{
                    background: url('https://m3ws.kugou.com/v3/static/images/index/arrow_icon.png')no-repeat;
                    float: right;
                    width: 0.6rem;
                    height:1rem;
                    background-size: 100%;
                    margin-top: 1rem;
                    margin-right: 0.7rem;
                }
            }
        }
    }
}
.mc-goback{
    background: #fff;
    position: fixed;
    width: 100%;
    height: 3rem;
    text-align: center;
    box-sizing: border-box;
    color: #000;
    margin-top: 3.5rem;
    z-index: 1000;
    p{
        height: 3rem;
        line-height: 3rem;
        font-size: 1rem;
    }
    img{
        width: 0.8rem;
        position: absolute;
        left: 1rem;
        top:0.9rem;
    }
}
.mc-list{
    display: inline-block;
    width: 100%;
    margin-top: 6.5rem;
    margin-bottom: 4.5rem;
    .mint-swipe{
        height: 9.6rem;
        img{
            width:100%;
        }
    }
    .muise-list{
        width: 100%;
        height:5.5rem;
        line-height: 5.5rem;
        margin-left: 0.7rem;
        position: relative;
        display: table;
        border-bottom:1px solid #e5e5e5;
        font-size: 1rem;
        .list-name{
            width: 100%;
            margin-right: 2.8rem;
            height: 100%;
            cursor: pointer;
            display: table-cell;
            line-height: 2rem;
        }
        .list-download{
            right: 0rem;
            width:2.5rem;
            height: 100%;
            cursor: pointer;
            img{
                width: 1.2rem;
            }
        }
        img{
            width: 4rem;
            vertical-align: middle;
            margin-right:1rem; 
        }
    }
}